<!DOCTYPE html>
<html>
<body>
<div id="sidebar">
  <div id="logo">
    <%= link_to root_path do %>
        <%= image_tag "logo.svg" %>
    <% end %>
  </div>

  <ul>
    <li class="category">Buttons</li>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "New Post", new_post_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>

  <ul>
    <li class="category">My links</li>
    <li><a href="https://new.vk.com/zoombuone">VK</a></li>
    <li><a href="https://github.com/ZoOmbu">GitHub</a></li>
    <li></li>
    <li></li>
  </ul>

  <p class="sign_in">Log in</p>
</div>

<div id="main_content">
  <div id="header">
    <% if current_page?(root_path) %>
    <p>All Posts</p>
    <% elsif current_page?(about_path) %>
        <p>About</p>
    <% else %>
        <%= link_to "Back to All Posts", root_path, class: "button" %>
        <% end %>

    <div class="buttons">
      <button class="link"><%= link_to "New Post", new_post_path %></button>
      <button class="button">Log Out</button>
    </div>
  </div>
  <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
  <%= yield %>

</div>




</body>

  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
</html>
